body{
background-color:white;
width:1400px

}
.centrer
{
		text-align:center;
	}
h1{
color:red;
text-align:center;
}
h2{
   color:blue;
     text-decoration:underline;
}
h3{
   color:blue;
     text-decoration:underline;
}

p{
   font-size:20px;
   font-family:"Times New Roman";
   width:800px; height:40px;
}