body{
background-color:white;
width:1400px

}
.centrer
{
		text-align:center;
	}
h1{
color:red;
text-align:center;
}
h2{
   color:blue;
     text-decoration:underline;
	 font-size: larger;
}
.right
{
	text-align:right;
}
h3{
   color:blue;
     text-decoration:underline;
	  font-size: larger;
}
p{
   font-size:20px;
   font-family:"Times New Roman";
   width:800px; height:40px;
