body{

background-color:grey;
width:200px;

}
h1{
color:rgb(9,1,275);
text-align:center;
}
h2{
   color:pink;
     text-decoration:underline;
}
h3{
   color:pink;
     text-decoration:underline;
}
p{
   font-size:20px;
    font-family:"Times New Roman";
    width:500px; height:200px;
}
div.img{
  margin:5px;
  padding: 5px;
  height:12 px;
  width:12px;
  float:left
  }
